<mat-grid-list cols="2" rowHeight="50px">
    <mat-grid-tile>
      <div class="dialog-header">Nuevo Estudiante</div>
    </mat-grid-tile>
    <mat-grid-tile>
      <mat-icon class="close-icon" (click)="closeDialog()">close</mat-icon>
    </mat-grid-tile>
  </mat-grid-list>
  <form
    [formGroup]="studentForm"
    novalidate
    autocomplete="off"
    (ngSubmit)="createStudent(studentForm.value)"
  >
    <div mat-dialog-content>
      <mat-grid-list cols="2" rowHeight="100px">
        <mat-grid-tile>
          <mat-form-field class="example-full-width">
            <mat-label>Nombres</mat-label>
            <input
              matInput
              placeholder="Ingresar nombres"
              maxlength="40"
              formControlName="name"
              id="name"
            />
            <mat-error *ngIf="hasError('name', 'maxlength')">
              Solo se permite <strong>40</strong> caracteres
            </mat-error>
            <mat-error *ngIf="hasError('name', 'required')">
              Nombres son <strong>requeridos</strong>
            </mat-error>
          </mat-form-field>
        </mat-grid-tile>
        <mat-grid-tile>
          <mat-form-field class="example-full-width">
            <mat-label>Apellido Paterno</mat-label>
            <input
              matInput
              placeholder="Ingresar apellido paterno"
              maxlength="40"
              formControlName="fathLastName"
              id="fathLastName"
            />
            <mat-error *ngIf="hasError('fathLastName', 'maxlength')">
              Solo se permite <strong>40</strong> caracteres
            </mat-error>
            <mat-error *ngIf="hasError('fathLastName', 'required')">
              Apellido paterno es <strong>requerido</strong>
            </mat-error>
          </mat-form-field>
        </mat-grid-tile>
        <mat-grid-tile>
          <mat-form-field class="example-full-width">
            <mat-label>Apellido Materno</mat-label>
            <input
              matInput
              placeholder="Ingresar apellido materno"
              maxlength="40"
              formControlName="mothLastName"
              id="mothLastName"
            />
            <mat-error *ngIf="hasError('mothLastName', 'maxlength')">
              Solo se permite <strong>40</strong> caracteres
            </mat-error>
            <mat-error *ngIf="hasError('mothLastName', 'required')">
              Apellido materno es <strong>requerido</strong>
            </mat-error>
          </mat-form-field>
        </mat-grid-tile>
        <mat-grid-tile>
          <mat-form-field>
            <mat-label>Grado</mat-label>
            <mat-select formControlName="grado" id="grado">
              <mat-option *ngFor="let grado of grados" [value]="grado.nid_grado">
                {{ grado.desc_grado }}
              </mat-option>
            </mat-select>
            <mat-error *ngIf="hasError('grado', 'required')">
              Grado es <strong>requerido</strong>
            </mat-error>
          </mat-form-field>
        </mat-grid-tile>
        <mat-grid-tile>
          <mat-form-field>
            <mat-label>Fecha de nacimiento</mat-label>
            <input
              matInput
              [matDatepicker]="picker"
              formControlName="birthDate"
              id="birthDate"
              (dateChange)="changeDOB($event)"
              [max]="maxDate"
            />
            <mat-datepicker-toggle
              matSuffix
              [for]="picker"
            ></mat-datepicker-toggle>
            <mat-datepicker #picker></mat-datepicker>
            <mat-error *ngIf="hasError('birthDate', 'required')">
              Fecha de nacimiento es <strong>requerida</strong>
            </mat-error>
          </mat-form-field>
        </mat-grid-tile>
        <mat-grid-tile>
          <mat-form-field class="example-full-width">
            <mat-label>Edad</mat-label>
            <input matInput disabled [value]="studentAge" />
          </mat-form-field>
        </mat-grid-tile>
        <mat-grid-tile colspan="2">
          <input
            class="input-tile"
            id="input-file-id"
            multiple
            type="file"
            formControlName="picture"         
            (change)="selectImage($event)" 
          />
        </mat-grid-tile>
      </mat-grid-list>
    </div>
    <div mat-dialog-actions align="end">
      <button
        mat-button
        mat-raised-button
        color="primary"
        [disabled]="!studentForm.valid"
      >
        Agregar
      </button>
    </div>
  </form>
  